.choice-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    width: 50%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(red, green, blue);
    background-color: rgb(255, 255, 255);
    color: black;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(247, 137, 137, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  p {
      color: black;
      display: flex;
  }

p.hud-prefix {
    font-size: medium;
    align-self: flex-start;
}

h2 {
    color:#e15454;
    text-align: center;
}

body {
    background-color: rgb(43, 39, 39);
}

.container {
    width: 900px;
    max-width: 200%;
    background-color: rgb(241, 221, 221);
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 2px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: rgb(224, 224, 224);
    transition: transform 150ms;
}

.choice-prefix {   
    padding: 1.5rem 2.5rem;
    max-width: 100%;
    background-color: rgb(233, 120, 120);
    color:rgb(255, 255, 255);
    display:grid;
}

div, p {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

div {
    align-items: center;
}


.choice-text {
    padding: 1.5rem;
    width: 100%;
  }

.correct {
    background-color: rgb(8, 193, 8);
}

.incorrect {
    background-color: red;
}

h1 {
    color:rgb(233, 117, 117);
}

#hud {
    display:flex;
    justify-content: space-around;
}

/* animation */

div {
    animation-duration: 1s;
    animation-delay: 0.5s;
}

div.choice-container {
    animation-duration: 0.5s;
}